<% if(admin.cafe!='admin'){ %>
    <script>
        location.assign(`/admin/song/<%= admin.cafe%>`);
    </script>
    <% } %>
        <!-- Panel Start -->
        <section class="home">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-10 home-form">
                        <div class="form-text">
                            <p>
                                Admin Ekle
                            </p>
                        </div>
                        <form action="/admin/admin" method="post">
                            <div class="form-row">
                                <div class="form-group mb-4">
                                    <label for="title">Ad</label>
                                    <input type="text" name="name" class="form-input form-control form-control-lg"
                                        id="title" placeholder="İsim">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="title">Soyad</label>
                                    <input type="texzt" name="surname" class="form-input form-control form-control-lg"
                                        id="title" placeholder="Soyad">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="title">Kafe</label>
                                    <select name="cafe" class="form-select form-control form-control-lg" id="title">
                                        <% for(let i = 0; i < fetch.length; i++) { %>
                                            <option value="<%= fetch[i].cafe %>"><%= fetch[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="title">E-Posta</label>
                                    <input type="email" name="email" class="form-input form-control form-control-lg"
                                        id="title" placeholder="E-Posta">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="title">Şifre</label>
                                    <input type="text" name="password" class="form-input form-control form-control-lg"
                                        id="title" placeholder="Şifre">
                                </div>
                            </div>
                            <button type="submit" value="adminAdd" name="adminAdd"
                                class="form-btn mt-2 btn btn-lg btn-outline-primary">Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Panel End -->