<main>
    <section class="voteInfos">
        <div class="container">
            <div class="row">
                <div class="var-header">
                    <h3 class="var-title">Oylama</h3>
                    <p id="openedSong" class="var-text"></p>
                    <p id="openedSongEncore" style="margin: 0; opacity: 0.7;" class="var-text"></p>
                </div>
            </div>
            <div class="row" id="voteInfoSongs"></div>

        </div>
    </section>
    <section class="nextVote">
        <div class="container">
            <div class="row">
                <div class="var-header">
                    <h3 class="var-title">Sıradaki Oylama</h3>
                    <p class="var-text">Oylama Bittiken Sonra Oylanacak Şarkılar</p>
                </div>
            </div>
            <div class="row vote-progress" id="votingNext">
            </div>
        </div>
    </section>
    <section class="encores">
        <div class="container">
            <div class="row">
                <div class="var-header">
                    <h3 class="var-title">İstek Şarkı</h3>
                    <p class="var-text">Çalmasını İstediğin Şarkıyı Gönder!</p>
                </div>
                <div class="container">
                    <div class="row encore-row encore-rows">
                        <div class="col-12 encore-input-cols">
                            <div style="display: flex; justify-content: center;">
                                <div id='filteredSongsEncore'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>